{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style_lab4.css' %}"/>
        <title>Table Notes</title>
    </head>
    <body>
        <div class=filter></div>
            <nav>
                <label class=label_header>LAB 4 Pemrograman Berbasis Platform</label>
                <ul>
                    <li>
                        <a class="active" href={% url 'index-lab4' %}>Table Notes</a>
                    </li>
                    <li>
                        <a href={% url 'add-note-lab4' %}>Add Notes</a>
                    </li>
                    <li>
                        <a href={% url 'note-list-lab4' %}>Card Notes</a>
                    </li>
                </ul>
            </nav>
        <table class=table_index>
            <tr>
                <th>TO</th>
                <th>FROM</th>
                <th>TITLE</th>
                <th>MESSAGE</th>
            </tr>
            {% for i in notes %}
            <tr>
                <td >{{ i.to_name }}</td>
                <td >{{ i.from_name }}</td>
                <td >{{ i.title }}</td>
                <td >{{ i.message }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>