{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style_lab4.css' %}"/>
        <title>Add Notes</title>
    </head>
    <body>
        <div class=filter></div>
            <nav>
                <label class=label_header>LAB 4 Pemrograman Berbasis Platform</label>
                <ul>
                    <li>
                        <a href={% url 'index-lab4' %}>Table Notes</a>
                    </li>
                    <li>
                        <a class="active" href={% url 'add-note-lab4' %}>Add Notes</a>
                    </li>
                    <li>
                        <a href={% url 'note-list-lab4' %}>Card Notes</a>
                    </li>
                </ul>
            </nav>
        <form action="" method="POST">
            {% csrf_token %}
            <table class=table_form>
                <tr>
                    <th>ADD NOTES</th>
                </tr>
                    <td>
                        <div>
                            <label class=label_form>To : </label>
                            <br>{{form.to_name}}<br>
                            <label class=label_form>From :</label>
                            <br>{{form.from_name}}<br>
                            <label class=label_form>Title :</label>
                            <br>{{form.title}}<br>
                            <label class=label_form>Message :</label>
                            <br>{{form.message}}<br>
                        </div>
                        <div class=div_form>
                            <input type="submit" value="Add" class="btn btn-primary">
                        </div>
                    </td>
                    </tr>
                </tr>
            </table>
        </form>
        </div>
    </body>
</html>