{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style_lab4.css' %}"/>
        <title>Card Notes</title>
    </head>
    <body>
        <div class=filter></div>
            <nav>
                <label class=label_header>LAB 4 Pemrograman Berbasis Platform</label>
                <ul>
                    <li>
                        <a href={% url 'index-lab4' %}>Table Notes</a>
                    </li>
                    <li>
                        <a href={% url 'add-note-lab4' %}>Add Notes</a>
                    </li>
                    <li>
                        <a class="active" href={% url 'note-list-lab4' %}>Card Notes</a>
                    </li>
                </ul>
            </nav>
        <div class="container">{% for i in notes %}
            <div class="card"> 
                <div class="card-cover"> 
                    <h1>To : {{i.to_name}}</h1>
                    <h1>From : {{i.from_name}}</h1>
                </div>
                <div class="card-content"> 
                    <h2>{{i.title}}</h2>
                    <p>{{i.message}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
    </body>
</html>
