* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .8;
    background: rgb(36,0,0);
    background: -moz-linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(31,9,121,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(31,9,121,1) 100%);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(31,9,121,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#240000",endColorstr="#1f0979",GradientType=1);
}
nav {
    position: absolute;
    z-index: 3;
    font-family: montserrat;
    background: #F5FFFA;
    color: #191970;
    height: 70px;
    width: 100%;
}
.label_header {
    font-size: 30px;
    line-height: 70px;
    padding: 0 60px;
    font-weight: bold;
}
.label_form {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 5px;
}
nav ul {
    float: right;
    margin-right: 40px;
}
nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
nav ul li a {
    font-size: 17px;
    text-transform: uppercase;
    padding: 8px 14px;
    border-radius: 5px;
}
a.active,a:hover{
    background: #6A5ACD;
    transition: .3s;
    color: #F5FFFA;
}
table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    border: 2px solid;
    background: #F0FFFF;
}
.table_index {
    width: 60%;
    border-radius: 10px 0 10px 0;
}
.table_form {
    border-radius: 10px 10px 10px 10px;
}
th {
    background-color: #663399;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 2px solid whitesmoke;
    text-align: center;
}
td {
    padding: 10px;
    border: 2px solid whitesmoke;
}
tr:nth-child(odd){
    background-color: #DCDCDC;
}
.div_form {
    text-align: center;

}
.container {
    position: absolute;
    z-index: 4; 
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.card {
    background-color: whitesmoke;
    width: 260px;
    padding: 20px;
    margin: 30px;
}
.card-cover {
    height: 60px;
    margin-top: -50px;
    background-color: #D8BFD8;
    border-radius: 10px 10px 10px 10px;
}
.card-cover h1 {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 8px;
}
.card-content {
    height: 250px;
}
.card-content h2 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}
.card-content p {
    font-size: 14px;
}
