<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      body {
       background-color: #FA8072;
      }
    </style>  
  </head>
  <body>
  <h1 style="font-size: 30px; color : #191970;" align="center">Friend List</h1>
    <table align="center" border="5" cellpadding="10">
      <tr>
        <th bgcolor="#F0E68C">Name</th>
        <th bgcolor="#F0E68C">NPM</th>
        <th bgcolor="#F0E68C">DOB</th>
      </tr>
      {% for i in friends %}
      <tr>
        <td bgcolor="#FFF5EE">{{ i.name }}</td>
        <td bgcolor="#FFF5EE">{{ i.npm }}</td>
        <td bgcolor="#FFF5EE">{{ i.dob }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
