{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Add Friend</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>
  <body>
  <h1 align="center">Add Friend</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table align="center" border="5" cellpadding="10">
          <tr>
            <td>
              <img src={% static 'friend.jpg' %}/>
            </td>
            <td bgcolor="#FFFACD">
              <div align="center">
                <p>Name:  {{form.name}}</p>
                <p>NPM:   {{form.npm}}</p>
                <p>DOB:   {{form.dob}}</p>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">
              </div>
            </td>
          </tr>
        </table>
    </form>
    </table>
  </body>
</html>