<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lab 2-Membuat Notes</title>
    <style>
      body {
       background-color: #FA8072;
      }
    </style>
    </head>
  <body>
    <h1 style="font-size: 30px; color : #191970;" align="center">Jo's Notes</h1>
    <img src="https://images.app.goo.gl/eXnZXXKRWJR1xZq86" />
    <table align="center" border="5" cellpadding="10" >
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
    </tr>
    {% for i in notes %}
      <tr>
        <td bgcolor="#FFF5EE">{{ i.to_name }}</td>
        <td bgcolor="#FFF5EE">{{ i.from_name }}</td>
        <td bgcolor="#FFF5EE">{{ i.title }}</td>
        <td bgcolor="#FFF5EE">{{ i.message }}</td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>